.workspace {
    background-color: var(--secondary-color);
    height: 94vh;
    width: 100vw;
}

.myDeck-card {
    position: relative;
    cursor: grab;
}


#cards, #myDeck {
    height: 50vh;
    background-color: var(--secondary-color);
    overflow-x: scroll;
    transition: margin-left .35s ease;
    border-left: 1em solid var(--secondary-color);
}

#cards::-webkit-scrollbar, #myDeck::-webkit-scrollbar  {
    background-color: var(--secondary-color);
    height: .75em;
}

#cards::-webkit-scrollbar-thumb, #myDeck::-webkit-scrollbar-thumb {
    background-color: var(--navbar-color);
    border-radius: 1em;
}

#cards::-webkit-scrollbar-thumb:hover,  #myDeck::-webkit-scrollbar-thumb:hover  {
    background-color: var(--navbar-hover-color);
    border-radius: 1em;
}


#cards.open {
    margin-left: 18em;
}
#myDeck.open {
    margin-left: 18em;
}

#cards img {
    pointer-events: none;
    border-radius: 1.7em;
    border: 1em solid var(--secondary-color);
    height: 100%;
}

#myDeck img {
    border-radius: 1.7em;
    border: 1em solid var(--secondary-color);
    height: 100%;
}


.hr{
    border: none;
    opacity: 1;
    height: 10vh;
    background-color: var(--bg-color);  /* Modern Browsers */
    color: white;
    font-family: MTG;
}

#cards-icon{
    width: 5em;
    height: 5em;

}