
.workspace {
    background-color: var(--secondary-color);
    height: 94vh;
    width: 100vw;
}

#cards {
    height: 50vh;
    background-color: var(--secondary-color);
    overflow-x: scroll;
    transition: margin-left .35s ease ;
}

#cards::-webkit-scrollbar {
    background-color: var(--secondary-color);
}

#cards::-webkit-scrollbar-thumb {
    background-color: var(--navbar-color);
    border-radius: 1px;
}

#cards.open{
    margin-left: 18em;
}

#cards>img {
    background-color: transparent;
    border: 1em solid transparent;
    border-radius: 1.7em;
}

#myDeck {
    height: 50vh;
    background-color: var(--bg-color);
    overflow-x: scroll;
    transition: margin-left .35s ease ;

}

#myDeck::-webkit-scrollbar {
    background-color: var(--bg-color);
}

#myDeck::-webkit-scrollbar-thumb {
    background-color: var(--navbar-color);
    border-radius: 1px;
}

#myDeck.open{
    margin-left: 18em;
}


#myDeck>img {
    background-color: transparent;
    border: 1em solid transparent;
    border-radius: 1.7em;
}


#context-menu{
    position: absolute;
}