@font-face {
    font-family: MTG;
    src: url('fonts/goudy-medieval/Goudy\ Medieval\ Alternate.ttf') format('.ttf');
}

:root {
    --navbar-color: #F24333;
    --navbar-hover-color: #a72f24;
    --bg-color: #272727;
    --secondary-color: #454545;
}

body{
    background-color: var(--bg-color);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.footer-btn img {
    width: 2em;
    height: 2em;
}

.btn {
    border: none;
}

