@font-face {
    font-family: MTG;
    src: url('fonts/goudy-medieval/Goudy\ Medieval\ Alternate.ttf');
}

:root {
    --navbar-color: #F24333;
    --navbar-hover-color: #a72f24;
    --bg-color: #272727;
    --secondary-color: #454545;
}

body {
    background-color: var(--bg-color);
    color: var(--navbar-color);
}

.navbar {
    border-bottom: 1px solid rgb(48, 48, 48);
}

.navbar-brand {
    font-family: MTG;
    font-size: 3em;
    font-weight: bold;
    color: var(--navbar-color);
}

.navbar-brand:hover {
    color: var(--navbar-color);
}

.offcanvas {
    background-color: var(--bg-color);
    color: var(--navbar-color);
    width: 22em !important;
    border: none !important;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.offcanvas-body {
    width: 22em !important;
    overflow-y: scroll;
    border-top: none;
}

/* WebKit scrollbar styles */
.offcanvas-body::-webkit-scrollbar {
    width: .75em;
    background: var(--bg-color);
    /* Background of the scrollbar track */
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: var(--navbar-color);
    border-radius: 2px;
}

.offcanvas-body::-webkit-scrollbar-thumb:hover {
    background-color: var(--navbar-hover-color);
}

.offcanvas-header>.navbar-brand {
    margin-left: .25em;
    margin-bottom: .13em;
}

.mana-icon {
    width: 2em;
    height: 2em;
}



.accordion-body {
    border-top: 2px solid var(--bg-color);
    background-color: var(--secondary-color) !important;
}

.accordion-item {
    background-color: var(--secondary-color);
    color: var(--navbar-color);
    border-radius: .2em !important;
    border: none;

}

.accordion-button {
    border-radius: .2em !important;
    background-color: var(--secondary-color) !important;
    color: var(--navbar-color) !important;
    font-weight: bold;
    box-shadow: none !important;
}



input::placeholder {
    color: #ffffff !important;
}


.dropdown-item:focus{
background-color: #a7a7a7;
}

.accordion-collapse{
    max-height: 10em;
    overflow-y: scroll;
    scrollbar-color: var(--bg-color) var(--secondary-color);
}



/* Checkboxes */

.color-checkbox {
    font-size: 1.2em;
    border-radius: 2em !important;
    border: none;
    box-shadow: none !important;
    background-color: var(--secondary-color);
    cursor: pointer;
}
.color-checkbox:checked {
    background-color: #F24333;
}

.type-checkbox{
    font-size: 1.2em;
    border-radius: 2em !important;
    border: none;
    box-shadow: none !important;
    background-color: var(--bg-color);
    cursor: pointer;
}

.type-checkbox:checked{
    background-color: #F24333;
}